$black-100: #020202;
$black-80: #525252;
$black-60: #919191;
$black-40: #d1d1d1;
$black-20: #f2f2f2;
$black-0: #ffffff;
$primary: #f18724;
$surface: #f2efe7;
$bg-color: #1e1e1e;

$font-xxs: 12px;
$font-xs: 14px;
$font-s: 16px;
$font-m: 20px;
$font-l: 28px;
$font-2s: $font-s * 2; // 32
$font-3s: $font-s * 3; // 48
$font-4m: $font-m * 4; // 80
$font-6m: $font-m * 6; // 120

$rounded-s: 16px;
$rounded-l: $rounded-s * 10; // 160
