.sitemap {
  border-top: 1px solid $black-0;
  padding: 80px 0;
  &-list {
    font-size: $font-4m;
    font-weight: 900;
    line-height: 1.2;
    li {
      margin-bottom: 8px;
    }
  }
  &-logo {
    max-width: 245px;
  }
}
@media (max-width: 768px) {
  .sitemap {
    &-logo {
      margin-bottom: 40px;
    }
    &-list {
      font-size: $font-3s;
    }
  }
}
.footer {
  border-top: 1px solid $black-0;
  padding: 20px 0;
  .copyright {
    color: $black-0;
    padding: 12px 80px 12px 0;
    margin-right: 20px;
  }
  .social {
    li {
      padding: 12px 0;
      margin-right: 20px;
    }
  }
  .backToTop {
    padding: 12px 0;
    right: 0;
  }
}
