.header {
  border-bottom: 1px solid $black-0;
  padding: 20px 0;
}
.logo {
  // 圖片置中
  line-height: 0;
  &-img {
    max-width: 245px;
  }
}
.menu {
  li {
    margin-left: 20px;
  }
}
// burger-menu
.burger-label,
.burger-checkbox {
  line-height: 0;
}
.burger-menu {
  display: none;
  height: calc(100vh - 64px);
  background: $bg-color;
  border-top: 1px solid $black-0;
  top: 100%;
  left: 0;
  // 把glass動畫效果蓋過去
  z-index: 1;
}
@media (max-width: 768px) {
  .header {
    .logo-img {
      width: 113px;
    }
    .burger-close {
      display: none;
    }
  }
  #burger:checked ~ .burger-menu {
    display: block;
  }
  #burger:checked ~ .burger-label .burger-open {
    display: none;
  }
  #burger:checked ~ .burger-label .burger-close {
    display: block;
  }
  .burger-menu {
    &-list {
      top: 23vh;
      a {
        font-size: $font-4m;
        font-weight: 900;
        line-height: 1.2;
      }
    }
    &-footer {
      padding: 0px 15px;
      top: 38vh;
      .copyright {
        margin-bottom: 36px;
      }
      li {
        margin-right: 20px;
      }
      hr {
        background: $black-0;
        height: 1px;
        border: none;
        opacity: 1;
      }
    }
  }
}
